<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172609647925-gdcmdkgpuru4vr10k0ht6kqui25fitab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172609647925-gdcmdkgpuru4vr10k0ht6kqui25fitab</string>
	<key>API_KEY</key>
	<string>AIzaSyCfiVWJfv5UTXdc5zVH4NnkMf9VX0Vt9jU</string>
	<key>GCM_SENDER_ID</key>
	<string>172609647925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DG-Works.Wanted</string>
	<key>PROJECT_ID</key>
	<string>wanted-9e59a</string>
	<key>STORAGE_BUCKET</key>
	<string>wanted-9e59a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172609647925:ios:c110709f255d8e777c887c</string>
</dict>
</plist>